<div class="">
  <div class="row">


    <div class="col-xs-12 clearfix">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>No</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <!--<th>last Name</th>-->
          <th>Gender</th>
          <th>Country</th>
          <th>Region</th>
          <th>Zone</th>
          <th>Wereda</th>
          <!--<th>Kebele</th>-->
          <th>House No</th>
          <th>Mobile No</th>
          <th>Birth Date</th>
          <th>Email</th>
          <th style="width: 100px;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let  customer of pagedItems;let i=index;">
          <td>{{i+1}}</td>
          <td>{{customer.firstName | filterPipe:4}}</td>
          <td>{{customer.middleName}}</td>
          <!--<td>{{customer.lastName}}</td>-->
          <td>{{customer.sex}}</td>
          <td>{{customer.country | countryPipe | async }}</td>
          <td>{{customer.region | regionPipe }}

          </td>
          <td>{{customer.zone | zonePipe | async }}</td>
          <td>{{customer.wereda | woredaPipe | async }}</td>
          <!--<td>{{customer.kebele}}</td>-->
          <td>{{customer.houseNo}}</td>
          <td>{{customer.mobileNo}}</td>
          <td>{{customer.birthDate}}</td>
          <td>{{customer.email}}</td>

          <td>
            <button class="btn btn-info"
                    (click)="editCustomer(customer,i)">
              <i class="glyphicon glyphicon-pencil"></i>              <!--TODO: adding font Awesome-->

            </button>
            <button class="btn btn-danger"
                    (click)="deleteCustomer(customer.customerId)">
              <i class="fa  fa-trash"></i>
            </button>

          </td>
        </tr>
        </tbody>
      </table>

      <!-- pager -->

      <div *ngIf="!loading" class="loadme-circleBounce">
        <div class="loadmePendulum-body"></div>
        <div class="loadme-scaleout"></div>
      </div>
    </div>
    <div class="col-lg-offset-2 col-md-12">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(1)">First</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul></div>
  </div>


</div>
