<div class="">
  <div class="row">


    <div class="col-xs-12 clearfix">

      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>No</th>
          <th>First Name</th>
          <th>Middle Name</th>
          <!--<th>last Name</th>-->
          <th>Gender</th>
          <th>Country</th>
          <th>Region</th>
          <th>Zone</th>
          <th>Wereda</th>
          <!--<th>Kebele</th>-->
          <th>House No</th>
          <th>Mobile No</th>
          <th>Birth Date</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let  customer of customer;let i=index;">
          <td>{{i}}</td>
          <td>{{customer.firstName | filterPipe:4}}</td>
          <td>{{customer.middleName}}</td>
          <!--<td>{{customer.lastName}}</td>-->
          <td>{{customer.sex}}</td>
          <td>{{customer.country | countryPipe | async }}</td>
          <td>{{customer.region | regionPipe }}

          </td>
          <td>{{customer.zone | zonePipe | async }}</td>
          <td>{{customer.wereda | woredaPipe | async }}</td>
          <!--<td>{{customer.kebele}}</td>-->
          <td>{{customer.houseNo}}</td>
          <td>{{customer.mobileNo}}</td>
          <td>{{customer.birthDate}}</td>
          <td>{{customer.email}}</td>

          <td>
            <button class="btn btn-danger"
                    (click)="deleteCustomer(customer.customerId)">
              <i class="fa  fa-trash"></i>
            </button>
            <button class="btn btn-info"
                    (click)="editCustomer(customer,i)">
              <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
