.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
{
  background-color: #89bf04 !important;
  font-size: 1.5em;
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 300px;
  text-decoration: none;
  font-family: Titillium Web, sans-serif;
  color: #fff;
}
