#new{
  padding: 1px 25px!important;
  /*font-size: 1.5em;*/
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 300px;
  text-decoration: none;
  font-family: Titillium Web, sans-serif;
  color: #fff;
}
#list{
  padding: 1px 25px!important;
  /*font-size: 1.5em;*/
  font-weight: 700;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 300px;
  text-decoration: none;
  font-family: Titillium Web, sans-serif;
  color: #fff;
}
