
  <div class="row">
    <div class="col-xs-12 clearfix">
      <div class="row">
        <div class="col-xs-12">

          <button id="new"
                  (click)="onNewCustomer()"
                  type="button"
                  class="btn btn-success">
            <i class="glyphicon glyphicon-plus"></i>
            New
          </button>
          <button
            id="list"
            (click)="onCustomerList()"
            type="button"
                  class="btn btn-info">
            <i class="fa fa-list"></i>
            List
          </button>


        </div>
      </div>
      <hr>
    </div>

    <div class="col-xs-12 clearfix">

      <router-outlet></router-outlet>

    </div>
  </div>

